// Delete this file if you don't need custom Babel configuration
{
  "presets": [
    [
      "next/babel",
      {
        "preset-typescript": {
          "onlyRemoveTypeImports": true,
          "allowNamespaces": true,
          "allowDeclareFields": true
        }
      }
    ]
  ],
  "plugins": [],
  "assumptions": {
    "setPublicClassFields": false
  }
}
